@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');
/*font-family: 'Montserrat', sans-serif;*/
body{
    margin: 0;
    top: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: aqua;
    z-index: 1;
}
h1{
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin: 0;
    left: 0;
    width: 100%;
    text-align: center;
    top: 26px;
}
#barra{
    position: fixed;
    background-color: blue;
    width: 200px;
    height: 90%;
    top: 14.2%;
    overflow-y: scroll;

}
#cuadro{
    background-color: #2d7779;
    position: fixed;
    height: 100%;
    width: 43.5%;
    left: 13%;
    top: 14.2%;
}
#descripcion{
    background-color: #40cb7c;
    position: fixed;
    height: 100%;
    width: 43.5%;
    right: 0;
    top: 14.2%;
}
.pequeño{
    width: 150px;
    height: 188px;
    filter: grayscale(100%);
    margin: auto;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;

}
.pequeño:hover{
    filter: grayscale(0);
    transition: 1s;
}
